# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Outputs
outputs/
data/
*.log